{% extends "product_app/base.html" %}

{% block main-content %}
<div class="row">
    <div class="col-sm-8 mx-auto text-white bg-secondary text-center">
        <p class="text-white"> {{product.name}} </p>
            <img src=" {{product.image.url}} " alt="{{product.name}}" class="img-fluid rounded">

        <p class="text-white">{{product.price}}</p>
        <p class="text-white"> {{product.description}} </p>
        <a href="{% url "update_product" product.id %}" class='btn btn-primary mb-1'>Update</a>
        <form action="{% url "delete_product" product.id %}" method='post'>
            {% csrf_token %}
        <button class='btn btn-danger mb-5'>Delete</button>
        </form>
    </div>
</div>
{% endblock main-content %}